.custom-node {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.circle-container {
  position: relative;
  width: 120px;
  height: 120px;
}

.circle-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  color: rgb(6, 6, 6);
}

.circle-background {
  fill: none;
  stroke: #aea5a5;
  stroke-linecap: round;
  opacity: 0.2;
}

.circle-progress {
  fill: none;
  stroke: #AB47BC;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-linecap: round;
}

.circle-progress-received {
  fill: none;
  stroke: #00897B;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-linecap: round;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.search-label {
  color: #ffc107; /* Change to desired color */
  margin-bottom: 2px; /* Add space between label and input */
}

.search-input {
  border: 1px solid #d1d5db;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  background-color: aliceblue;
}

.search-results {
  border: 1px solid #d1d5db;
  border-radius: 4px;
  margin-top: 8px;
  max-height: 12rem;
  overflow-y: auto;
}

.search-result-item {
  padding: 8px;
  cursor: pointer;
}

.search-result-item:hover {
  background-color: #f3f4f6;
}

.job-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
}

/* Additional styles to adjust Button spacing */
.m-10px {
  margin: 10px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.icon span {
  margin-left: 4px;
}

.label {
  margin-top: 8px;
  color: black;
  width: 5px;
  margin-right: 35px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tooltip {
  visibility: hidden;
  width: 550px; /* Adjusted width to fit content */
  background-color: rgba(134, 22, 22, 0.8);
  color: white;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  margin-bottom: -35px;
  z-index: 1;
  bottom: 125%;
  left: 100%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.custom-node:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip-content {
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.tooltip-content h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
  text-align: center;
}

.tooltip-content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.tooltip-content th,
.tooltip-content td {
  border: 1px solid #ddd;
  padding: 4px;
  text-align: center;
}

.tooltip-content th {
  background-color: #444;
}

.tooltip-content td {
  background-color: #222;
}

.tooltip-content input {
  background-color: #333;
  color: #fff;
  border: none;
  text-align: center;
  width: 50px; /* Adjust the width as needed */
}

.adjustment-info {
  font-size: 12px;
}
